<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<body>
    <h3>Write New Chat..</h3>
    <form action="/chats" method="POST">
        <input  placeholder="who are you ? " name="from" type="text"> <br> <br>
        <textarea name="msg" id="">Write Your Message here..</textarea> <br> <br>
        <input  placeholder="Reciever Name" name="to" type="text"> <br> <br>
        <button>Create</button>
    </form>
</body>
</html>